1. Creating a DataFrame

In [1]:
import pandas as pd

# Create DataFrame
data = {
    'Product': ['A', 'B', 'C', 'D'],
    'Price': [100, 150, 200, 130],
    'Quantity': [10, 15, 8, 12]
}

df = pd.DataFrame(data)
print(df)

  Product  Price  Quantity
0       A    100        10
1       B    150        15
2       C    200         8
3       D    130        12

2. Basic Data Inspection
(a) Show the first two rows

In [2]:
print(df.head(2))

  Product  Price  Quantity
0       A    100        10
1       B    150        15

(b) Display column names and data types

In [3]:
print(df.dtypes)

Product     object
Price        int64
Quantity     int64
dtype: object

(c) Check for missing values

In [4]:
print(df.isnull().sum())

Product     0
Price       0
Quantity    0
dtype: int64

3. Filtering Data (Price > 130)

In [5]:
filtered_df = df[df['Price'] > 130]
print(filtered_df)

  Product  Price  Quantity
1       B    150        15
2       C    200         8